<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Startup</title>
        <src type="css" name="startup"/>
    </head>
    <body>
        <input id="hostConnexion" placeholder="host / ip" type="text"/>
        <input id="hostUserConnexion" placeholder="user" type="text"/>
        <input id="hostPasswordConnexion" placeholder="password" type="password"/>
        <select id="hostEngineConnexion">
            <option value="mysql">Mysql</option>
        </select>
        <div id="btnConnexionHost">Send</div>
        <script src="view\www\common\libs\jquery-3.1.1.min.js"></script>
        <src type="js" name="bundle"/>
    </body>
</html>