<!DOCTYPE html>
<html>
    <head>
        <title>Loops</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <src type="css" name="style"/>
        <script src="/view/www/common/libs/jquery-3.1.1.min.js"></script>
    </head>
    <body>
    <div id="plusCont"></div>
    <section id="barra">
        <a id="loopHome" href="http://www.loops.zone">
            <h1>Loops</h1>
        </a>
        <input id="search" type="search" placeholder="Buscar">
    </section>
    <div id="content"></div>
    <src type="js" name="bundle"/>
</body>
</html>