<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Response</title>
        <src type="css" name="request"/>
        <script src="/view/www/common/libs/json-viewer.js"></script>
        <link rel="stylesheet" type="text/css" href="\view\www\common\css\json-viewer.css">
    </head>
    <body>
        <div id="json"></div>
        <script>
            var jsonViewer = new JSONViewer();

            jsonViewer.showJSON({request});
            document.querySelector("#json").appendChild(jsonViewer.getContainer());
        </script>
    </body>
</html>